<div class="bg-white py-3 shadow-sm mb-4">
  <div class="container text-center">
    <h4 class="text-primary mb-3">Welcome to the Reservation Portal!</h4>
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <a
        class="btn btn-lg"
        [routerLink]="['/new']"
        routerLinkActive="btn-success text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        [ngClass]="{ 'btn-outline-success': !isActive('/new') }"
      >
        Create New Reservation
      </a>

      <a
        class="btn btn-lg"
        [routerLink]="['/list']"
        routerLinkActive="btn-primary text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        [ngClass]="{ 'btn-outline-primary': !isActive('/list') }"
      >
        Show All Reservations
      </a>
    </div>
  </div>
</div>
